.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.userSection {
  display: flex;
  align-items: center;
  gap: 1rem;

  .userName {
    font-size: 1rem;
  }
}
